# Set the base path for the API
server:
  port: 7075
  servlet:
    context-path: /

# CORS configuration
cors:
  allowed-origins: ${ALLOWED_ORIGINS:http://localhost:7070}

# Authentication configuration
auth:
  service-url: ${AUTH_SERVICE_URL:https://auth.markpost.dev}

# JWT configuration
jwt:
  public-key-url: ${JWT_PUBLIC_KEY_URL:https://auth.markpost.dev/api/auth/v1/public-key}

# Security configuration
security:
  excluded-paths: /actuator/**

# Database configuration
spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:13003/ai_assistant}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: '*'

openai:
  api-key: ${OPENAI_API_KEY}
ns:
  api-key: ${NS_API_KEY}

logging:
  level:
    root: info
    nl:
      markpost:
        aiassistant: info

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 100
        minimumNumberOfCalls: 10
        permittedNumberOfCallsInHalfOpenState: 5
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
    instances:
      beRailClientGetVehicle:
        baseConfig: default
      beRailClientGetComposition:
        baseConfig: default

---
# Local environment profile
spring:
  config:
    activate:
      on-profile: local
server:
  port: 7075

---
# Test environment profile
spring:
  config:
    activate:
      on-profile: test
server:
  port: 7000