# Set the base path for the API
server:
  port: 7075
  servlet:
    context-path: /

# CORS configuration
cors:
  allowed-origins: ${ALLOWED_ORIGINS:http://localhost:7070}

management:
  endpoints:
    web:
      exposure:
        include: '*'

openai:
  api-key: ${OPENAI_API_KEY}
ns:
  api-key: ${NS_API_KEY}

logging:
  level:
    root: info
    nl:
      markpost:
        aiassistant: info

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 100
        minimumNumberOfCalls: 10
        permittedNumberOfCallsInHalfOpenState: 5
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
    instances:
      beRailClientGetVehicle:
        baseConfig: default
      beRailClientGetComposition:
        baseConfig: default

---
# Local environment profile
spring:
  config:
    activate:
      on-profile: local
server:
  port: 7075

---
# Test environment profile
spring:
  config:
    activate:
      on-profile: test
server:
  port: 7000