# Set the base path for the API
server:
  port: 9000
  servlet:
    context-path: /api

openai:
  api-key: ${OPENAI_API_KEY}

logging:
  level:
    root: info
    nl:
      markpost:
        aiassistant: info