# Set the base path for the API
server:
  port: 9000
  servlet:
    context-path: /api

spring:
  config:
    import: "optional:configtree:/run/secrets/"

openai:
  api-key: ${openai_api_key}
ns:
  api-key: ${ns_api_key}

logging:
  level:
    root: info
    nl:
      markpost:
        aiassistant: info