# Set the base path for the API
server:
  port: 7075
  servlet:
    context-path: /api

openai:
  api-key: ${OPENAI_API_KEY}
ns:
  api-key: ${NS_API_KEY}

logging:
  level:
    root: info
    nl:
      markpost:
        aiassistant: info

---
# Local environment profile
spring:
  config:
    activate:
      on-profile: local
server:
  port: 8000

---
# Test environment profile
spring:
  config:
    activate:
      on-profile: test
server:
  port: 7000