name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven, tests and generate JaCoCo report
      run: mvn -B package test jacoco:report --file pom.xml
    - name: Check code style with Google Java Format
      run: mvn com.spotify.fmt:fmt-maven-plugin:check
    - name: Check for vulnerabilities with OWASP Dependency-Check
      run: mvn verify org.owasp:dependency-check-maven:check
    - name: Display Dependency Updates
      run: mvn versions:display-dependency-updates
    - name: Display Plugin Updates
      run: mvn versions:display-plugin-updates